<div class="text-center py-3">
    <h1 class="py-3 ">
      <strong><i class="fa-brands fa-phoenix-framework"></i>GAME to Share</strong>
    </h1>
      <p>ゲーム好きが集まるコミュニティ</p>
      <p>好きなジャンルでコミュニティを作り、みんなと一緒に楽しい空間を。</p>
      <button class="py-2 px-4">
        <%= link_to "新規登録", new_user_registration_path, class: 'text-dark px-3' %>|
        <%= link_to "ログイン", new_user_session_path, class: 'text-dark px-3' %>
      </button>
</div>
