<div class="text-center">
    <h1 class="py-3 bg-danger">GAME to Shareへようこそ</br></h1>
      <p class="my-3">GAMEtoShareはゲーム好きが集まるコミュニティだよ！</p>
      <p>自分の好きなゲームのコミュニティでみんなと一緒に楽しく会話しよう！</p>
      <button class="bg-dark py-2 px-4">
        <%= link_to "新規登録", new_user_registration_path, class: 'text-light px-3' %>
        <%= link_to "ログイン", new_user_session_path, class: 'text-light px-3' %>
      </button>
</div>
