<div class='container p-3'>
  <%= flash[:notice] %>
  <div class='text-center'>
    <h3>コミュニティ一覧</h3>
    <%= render 'index', communities: @communities %>
    <div class="btn btn-outline-dark my-3">
      <%= link_to "コミュニティを作成する", new_community_path, class: 'text-dark' %>
    </div> 
  </div>
</div>