<div class="text-center">
    <h1><i></i>GAMEtoShareへようこそ！</h1>
      <p>GAMEtoShareはゲーム好きが集まるコミュニティだよ！</p>
      <p>自分の好きなゲームのコミュニティでみんなと一緒に楽しく会話しよう！</p>
      <button>
        <%= link_to "新規登録", new_user_registration_path %>
        <%= link_to "ログイン", new_user_session_path %>
      </button>
</div>
